{% if site.posts.size > 0 %}
  <h2 class="post-list-heading">{% if page.lang == 'es' %}Publicaciones{% else %}Posts{% endif %}</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">
    {% if page.lang == 'es' %}suscribirse{% else %}subscribe{% endif %} <a href="{{ site.baseurl }}/feed.xml" rel="nofollow">{% if page.lang == 'es' %}vía RSS{% else %}via RSS{% endif %}</a>
  </p>
{% endif %}
