<section class="whatsapp-contact">
    <a href="https://wa.me/573043807052?text={% if page.lang == 'es' %}Contacte con nosotros y programe una cita{% else %}Contact us and set an appointment{% endif %}" target="_blank" style="display: block; text-align: center; margin: 20px 0; font-size: 18px; color: #25D366; text-decoration: none;">
      <i class="fab fa-whatsapp" style="font-size: 30px; vertical-align: middle;"></i> 
      {% if page.lang == 'es' %}Contacte con nosotros y programe una cita{% else %}Contact us and set an appointment{% endif %}
    </a>
  </section>
  