.background-image {
  background-image: url('/assets/images/img2.jpg');
  background-size: cover;
  background-position: center;
  color: white; /* Adjust text color for better readability */
  padding: 20px;
}

.background-image h3, .background-image p, .background-image ul, .background-image li {
  margin: 0;
  padding: 5px 0;
}

/* Custom CSS */

.header-banner {
  background-color: #6fa7b3;
  padding: 10px 0;
  text-align: center;
}

.header-banner .container {
  display: flex;
  justify-content

.center-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #003152; /* Prussian blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  }
  
/* Custom styles for home layout */
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.image-container {
  flex: 1;
  max-width: 50%;
}

.text-container {
  flex: 1;
  max-width: 50%;
  padding: 0 20px;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }

  .image-container,
  .text-container {
    max-width: 100%;
  }
}

.social-icons a {
  margin-right: 10px; /* Space between icons */
  display: inline-block;
  vertical-align: middle;
}

.social-icons img, .social-icons i {
  display: inline-block;
  vertical-align: middle;
  height: 30px; /* Adjust size as needed */
  width: 30px; /* Adjust size as needed */
}



  