---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Start of new image and text section -->
  <div class="content-section">
    <div class="image-container">
      <img src="{{ site.baseurl }}/assets/images/david.jpg" alt="Internal medicine care in Medellín" width="350" height="600">
    </div>
    <div class="text-container">
      <h1>We excel at internal medicine for English speakers</h1>
      <p>Schedule a date with Dr. Castaño and see for yourself.</p>
    </div>
  </div>
  <!-- End of new image and text section -->

  {{ content }}

  <!-- Services Section -->
  <section class="services">
    <h2>Our Services</h2>
    <p>Discover the internal medicine services we offer:</p>
    <div class="services-panel">
      <div class="service-item" style="background-color: #f0f8ff;">
        <i class="fas fa-heartbeat"></i>
        <h3>Hypertension</h3>
        <p>Hypertension control and management.</p>
        <a href="{{ site.baseurl }}/services/2024/01/02/services.html#hypertension">Read more</a>
      </div>
      <div class="service-item" style="background-color: #ffe4e1;">
        <i class="fas fa-lungs"></i>
        <h3>COPD</h3>
        <p>Treatment of Chronic obstructive pulmonary disease.</p>
        <a href="{{ site.baseurl }}/services/2024/01/02/services.html#copd">Read more</a>
      </div>
      <div class="service-item" style="background-color: #fafad2;">
        <i class="fas fa-syringe"></i>
        <h3>Diabetes Mellitus</h3>
        <p>Type 2 Diabetes treatment and control.</p>
        <a href="{{ site.baseurl }}/services/2024/01/02/services.html#diabetes">Read more</a>
      </div>
      <div class="service-item" style="background-color: #e0ffff;">
        <i class="fas fa-kidneys"></i>
        <h3>CKD</h3>
        <p>Control and follow up for Chronic Kidney Disease.</p>
        <a href="{{ site.baseurl }}/services/2024/01/01/services.html#ckd">Read more</a>
      </div>
      <div class="service-item" style="background-color: #f5f5dc;">
        <i class="fas fa-band-aid"></i>
        <h3>Chronic Pain</h3>
        <p>Chronic pain treatment.</p>
        <a href="{{ site.baseurl }}/services/2024/01/01/services.html#chronic-pain">Read more</a>
      </div>
      <div class="service-item" style="background-color: #fffacd;">
        <i class="fas fa-globe"></i>
        <h3>Traveler's Fever</h3>
        <p>Evaluation and follow up for travelers fever (Tropical Infectious diseases).</p>
        <a href="{{ site.baseurl }}/services/2024/01/01/services.html#travelers-fever">Read more</a>
      </div>
      <div class="service-item" style="background-color: #e6e6fa;">
        <i class="fas fa-heart"></i>
        <h3>Cardiovascular Risk Assessment</h3>
        <p>Cardiovascular risk follow up.</p>
        <a href="{{ site.baseurl }}/services/2024/01/01/services.html#cardiovascular-risk">Read more</a>
      </div>
      <div class="service-item" style="background-color: #f0fff0;">
        <i class="fas fa-stomach"></i>
        <h3>Gastrointestinal Disorders</h3>
        <p>Gastrointestinal and hepatic conditions and disorders.</p>
        <a href="{{ site.baseurl }}/services/2024/01/01/services.html#gastrointestinal-disorders">Read more</a>
      </div>
    </div>
  </section>
  <!-- End of Services Section -->

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ site.baseurl }}/feed.xml" rel="nofollow">via RSS</a></p>
  {%- endif -%}
</div>
