---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Start of new image and text section -->
  <div class="content-section">
    <div class="image-container">
      <img src="/assets/images/david.jpg" alt="Internal medicine care in Medellín">
    </div>
    <div class="text-container">
      <h1>We excel at internal medicine for english speakrs</h1>
      <p>Schedule a datw con Dr. Castaño and see by yourself.</p>
      <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    </div>
  </div>
  <!-- End of new image and text section -->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</div>
